@import '../../styles/mixings.scss';

.card-style {
    width: 18rem;
}

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }

  .buttons-container {
    @include make-container();
  }